@keyframes yo {
  0% {
    transform: translateY(15px);
    /* background: #c27500; */
  }
  100% {
    transform: translateY(0px);
    /* background: #C2A300; */
  }
}

.anim {
  animation: yo 20s forwards;
}

p {
  font-size: 15px;
}


.bio {
  font-size: 10px
}

img {
  padding-bottom: 10px
}